$base-color: #100c08;
$accent-color: #ff3380;

$skeleton-bg-color: #e5e5e5;
$shine-color: #e8e8e8;

$bg-color: #fefefe;
$item-bg-color: #ffffff;

$text-color: $base-color;

$list-item-shadow-color: rgba($base-color, 0.1);
