.main {
  text-align: center;
  margin-top: 0.75rem;
  width: 90%;
  margin: auto;
  height: 100%;
  padding-bottom: 5rem;

  @media only screen and (min-width: 768px) {
    width: 70%;
  }

  .description {
    .title-main {
      font-size: 1.1em;
      margin-bottom: 2rem;

      @media only screen and (min-width: 768px) {
        font-size: 3em;
      }
    }

    .description-text {
      font-size: 0.8em;
      margin-bottom: 1.5rem;

      @media only screen and (min-width: 768px) {
        font-size: 1.3em;
      }
    }
    .description-text-claim {
      margin-bottom: 2rem;
      font-size: 0.6em;

      @media only screen and (min-width: 768px) {
        font-size: 1.15em;
        margin-bottom: 5rem;
      }
    }
    .mail-to {
      color: $text-color;
    }
  }
}

.list-description {
  display: none;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0 1.5rem;

  @media screen and (min-width: 1024px) {
    display: flex;
    font-size: 0.75em;
    justify-content: space-between;
    align-items: center;
  }
}

.list-description-logo {
  visibility: hidden;
}
