.header {
  height: 12%;
  padding: 0rem 3rem;
  display: flex;
  justify-content: center;

  .logo-desktop {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      margin-right: auto;
    }
  }

  .logo-mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
