.app-list {
  margin-top: 3rem;
  padding: 0;
  padding-bottom: 5rem;
}

.applist-row {
  background-color: $item-color;
  display: flex;
  box-shadow: 0 0.25rem 0.25rem rgba($text-color, 0.1);
  border-radius: 0.3125rem;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  @media screen and (min-width: 768px) {
    height: 4.5rem;
  }
}

.rank {
  font-size: 1em;

  @media screen and (min-width: 768px) {
    font-size: 1.25rem;
  }
}

.app-logo {
  inline-size: 5rem;
  height: 3rem;
  border-radius: 0.3125rem;
  margin-right: auto;
  margin-left: 3rem;

  @media screen and (min-width: 768px) {
    height: 4.3rem;
    border-radius: 0.3125rem;
  }
}

.app-name {
  color: $text-color;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.transactions-number {
  color: $accent-color;

  @media screen and (min-width: 768px) {
    font-size: 1.75rem;
  }
}
