.header {
  height: 12%;

  .headerDesktop {
    display: none;

    @media screen and (min-width: 769px) {
      display: block;
      margin-left: 10%;
      padding: 0em;
    }
  }

  .headerMobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
